<div class="product-list-container grid-50 tablet-grid-50">
    <h3 tabindex="0">Store Deals - (in store only)</h3>
    <div class="js-product-list product-list trench trench-large no-background">
        <div class="grid-100 grid-parent v-spacing-large">
    <ul>
        {{#if storeProductList}}
        {{#each storeProductList}}
            <li {{#if @first}}aria-live="polite"{{/if}} class="product-wrapper grid-35 tablet-grid-43 v-spacing-large" id="product-{{productId}}" data-productid="{{productId}}" data-producttitle="{{description}}" data-productreviews="{{reviewCount}}" data-row="1" tabindex="0">
                    <div class="product-container js-product-container">
                        <a href="/pd/{{description}}{{productId}}" class="display-block" tabindex="-1">
                            <div class="normalize-size position-relative v-spacing-small" tabindex="-1">
                                <img class="js-pl-lazy-load-image product-image normalize-size img-fluid art-pl-productImage{{@index}}" alt="{{description}}" src="{{imageUrls.md}}">
                            </div>
                            <div class="pvs pvs-options-height v-spacing-small"></div>
                            <p class="h6 product-title js-product-title v-spacing-small ellipsis-three-line" tabindex="-1">
                                {{description}} 
                            </p>
                        </a>
                        <div class="pl-price js-pl-price" tabindex="-1">
                                <!-- Map Price -->
                                <div class="v-spacing-mini"></div>
                                    <span class="strong">{{pricing.price.selling}}</span>
                                </div>
                        </div>
            </li>
        {{/each}}
        {{/if}}
    </ul>
</div>      
</div> 
</div>