<div class="grid-100 v-spacing-large"><h3 tabindex="0">Trending in Mooresville Area</h3></div>
<div class="product-list-container grid-100 tablet-grid-100">
    <div class="js-product-list product-list">
        <div class="grid-100 grid-parent v-spacing-large">
    <ul>
        {{#if trendProductList}}
        {{#each trendProductList}}
            <li {{#if @first}}aria-live="polite"{{/if}} class="product-wrapper grid-25 tablet-grid-33 v-spacing-large" id="product-{{productId}}" data-productid="{{productId}}" data-producttitle="{{description}}" data-productreviews="{{reviewCount}}" data-row="1" tabindex="0">
                    <div class="product-container js-product-container">
                        <a href="/pd/{{description}}{{productId}}" class="display-block" tabindex="-1">
                            <div class="normalize-size position-relative v-spacing-small" tabindex="-1">
                                <img class="js-pl-lazy-load-image product-image normalize-size img-fluid art-pl-productImage{{@index}}" alt="{{description}}" src="{{imageUrls.sm}}">
                            </div>
                            <div class="pvs pvs-options-height v-spacing-small"></div>
                            <p class="h6 product-title js-product-title v-spacing-small ellipsis-three-line" tabindex="-1">
                                {{description}}
                            </p>
                        </a>
                        <div class="pl-price js-pl-price" tabindex="-1">
                                <!-- Map Price -->
                                <div class="v-spacing-mini"></div>
                                    <span class="strong">{{pricing.price.selling}}</span>
                                </div>
                                <div class="v-spacing-mini">
                                    <span class="darkMidGrey">was: {{networkPrice}}</span>
                                </div>
                            <!-- Start of Product Family Pricing -->
                            <!-- End of Product Family Pricing -->
                        </div>
                        <div class="v-spacing-small">
                            <a role="link" tabindex="-1" data-toggle="popover" aria-haspopup="true" data-trigger="focus" data-placement="bottom auto" data-content="FREE local delivery applies to any major appliance $396 or more and full-size gas grills $499 or more. US only and must be within 75 miles of Lowe's fulfillment location. Additional installation fees may apply." data-original-title="Free Delivery" class="js-truck-delivery"><i class="icon-truck" title="FREE Delivery" aria-label="FREE Delivery."></i> <strong>FREE Delivery</strong></a>
                        </div>
            </li>
        {{/each}}
        {{/if}}
    </ul>
</div>      
</div>         <!-- Spotlights Div -->
</div>