<!DOCTYPE html>
<html>

<head>
    <script src="https://www.lowescdn.com/scaffold/1.3.0/js/modernizr.js" type="text/javascript"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="author" content="Lowes.com">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Lowe&#x27;s Home Improvement</title>
    <link rel="stylesheet" href="https://www.lowes.com/etc/clientlibs/foundation/main.min.css" type="text/css">
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/granite/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/granite/utils.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/granite/jquery/granite.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/foundation/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/foundation/main.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/wcsstore/B2BDirectStorefrontAssetStore/javascript/cq-head/cq-head-min.js"></script>

    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/granite/clientlibrarymanager.min.js"></script>
    <link rel="stylesheet" href="https://www.lowes.com/etc/clientlibs/lowes-mobile-first/desktop-commons.min.css" type="text/css">
    <!--[if lt IE 9]><script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="https://www.lowes.com/wcsstore/B2BDirectStorefrontAssetStore/css/cq/cq-min.css" type="text/css"
    />
    <style>
        #header-block {
            margin-bottom: 2em
        }
    </style>
    <!-- ESI cdn link include for www -->
    <link rel="stylesheet" href='https://www.lowescdn.com/www/cq/5.0.19/clientlibs/lowes-mobile-first/commons.min.css' type="text/css">
    <!-- ESI cdn link include for www -->
    <!--  Author Specific CSS Assets -->
    <!--  Scaffold CDN CSS Assets -->
    <link rel="stylesheet" href="https://www.lowescdn.com/scaffold/1.3.0/css/scaffold-large.min.css">
</head>

<body>
    <a class="ada screen-reader-only screen-reader-only-focusable" href="#mainContent">Skip to main content</a>
    <script type="text/javascript">
        digitalData = {
            page: {
                "pageType": "twocolumnnavigation",
                "pageName": "MyLowe's",
                "pageTemplate": "/apps/lowes/templates/mylowes/twocolumnnavigation",
                "siteSection": "mylowes",
                "sysEnv": "www.lowes.com",
                "contentPageURL": "mylowes",
                "siteId": "en_us",
                "pageID": "3edcc553-916a-43b3-9634-8de956e20297",
                "contentPath": "/content/lowes/en_us/mylowes"
            }
        };
        digitalData.profile = {};
        digitalData.events = {};
        digitalData.search = {};
    </script>
    <script src="https://www.lowes.com/assets.adobedtm.com/a79066311cccac7e8666800492afa7c9f1e49767/satelliteLib-ca02d9fa9e40b02d933918b2e1b076208d580fe9.js"></script>
    <div class="parbase clientcontext">
        <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/foundation/shared.min.js"></script>
        <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/granite/underscore.min.js"></script>
        <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/foundation/personalization/kernel.min.js"></script>
    </div>
    <div class="masthead">

        <script src="https://www.lowes.com/c.go-mpulse.net/boomerang/W8H5V-D6KN9-TTLED-Y3VKD-B2SQA"></script>
        <div class="parbase clientcontext"></div>
        <div class="parsys iparsys premastheadpar">
            <div class="ghost section">
            </div>
            <div class="ghost section">
            </div>
            <div class="section globalmessaging">
                <!-- Global Messaging Component -->
                <div class="lowes-info-bar background-red">
                    <a href="https://www.lowes.com/pl/Labor-Day-Savings/1364757579?int_cmp=Home:A1:GlobalMessage:Corp:FW30_Shop_All_Last_Chance_Savings"
                        data-linkid="global_messaging_statement" target="_self">
                        <div class="grid-container white">
                            <p>FINAL DAY: SHOP ALL LAST-CHANCE SAVINGS + FREE PARCEL SHIPPING WITH MYLOWE'S. SHOP NOW &gt;</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="section">
                <div class="new"></div>
            </div>
            <div class="iparys_inherited">
                <div class="parsys iparsys premastheadpar"></div>
            </div>
        </div>
        <header class="head v-spacing-small">
            <!-- header -->
            <div class="mast v-spacing-small">
                <div class="grid-container">
                    <div class="grid-50 tablet-grid-50 grid-parent">
                        <div class="lowes-logo grid-40 tablet-grid-50">
                            <a href="/" data-linkid="lowes-logo" class="align-center display-block lowesBlue">
                                <img src="https://lda.lowes.com/is/image/Lowes/NSI_Lowes_logo_no_tagline?$JPEG-HQ$&wid=147" alt="Lowe's Home Improvement Logo"
                                    aria-describedby="ada-logo-describedby">
                                <span id="ada-logo-describedby" class="ada screen-reader-only">Link to Lowe's Home Improvement Home Page</span>
                            </a>
                        </div>
                        <div class="store-info-block grid-60 tablet-grid-50" id="currentStoreWrapper">
                            <div class="storeindicator">
                                <script type="text/mustache" id="CurrentStoreView">
                                    <div class="store-hours">
                                        <a href="{{canonicalStoreUrl}}" {{#if redirectUrl}}data-redirect-url="{{redirectUrl}}" {{/if}} data-search-term="{{storeNumber}}" data-latitude="{{latitude}}" data-longitude="{{longitude}}" data-hide-search-term="true" data-modal-open="true" class="js-store-locator-search"
                                            data-linkid="selected-store">
                                            <span class="font-weight-normal black">
                                                {{#if isHoliday}}
                                                    {{#if isHolidayOpenTomorrow}}
                                                        Closed. Opens at {{openTime}}{{openPeriod}} tomorrow!
                                                    {{else}}
                                                        Store Closed
                                                    {{/if}}
                                                {{else}}
                                                    {{#if is24Hrs}}
                                                        Open 24 hours!
                                                    {{else}}
                                                        {{#if isOpen}}
                                                            Open until {{closeTime}}{{closePeriod}}!
                                                        {{else}}
                                                            {{#if isOpenLaterToday}}
                                                                Opens at {{openTime}}{{openPeriod}}!
                                                            {{/if}}
                                                            {{#if isOpenTomorrow}}
                                                                Opens at {{openTime}}{{openPeriod}} tomorrow!
                                                            {{/if}}
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            </span>
                                        </a>
                                    </div>
                                    <div class="store-name">
                                        <a href="{{canonicalStoreUrl}}" {{#if redirectUrl}}data-redirect-url="{{redirectUrl}}" {{/if}} data-search-term="{{storeNumber}}" data-latitude="{{latitude}}" data-longitude="{{longitude}}" data-hide-search-term="true" data-modal-open="true" class="js-store-locator-search"
                                            data-linkid="selected-store"><span>{{storeName}} <i class="icon-arrow-down"></i></span></a>
                                    </div>
                                </script>
                                <div class="store-info"></div>
                                <div class="shop-a-store media">
                                    <div class="media-left media-middle">
                                        <a href="/store/" aria-hidden="true" tabindex="-1" role="presentation" data-linkid="find_a_store" class="pull-left js-find-a-store">
                                            <i class="icon-location icon-2x" aria-hidden="true" tabindex="-1" role="presentation"></i>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <span>Welcome to Lowe's</span>
                                        <br>
                                        <a href="#store-locator-modal" data-linkid="find_a_store" class="js-find-a-store" id="find_store">
                                            <span class="js-store-name">Find a Store
                                            </span>
                                            <span><i class="icon-arrow-down"></i></span>
                                        </a>
                                    </div>

                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="grid-50 tablet-grid-50">
                        <div class="show-print">
                            <p>Prices, promotions, styles, and availability may vary. Our local stores do not honor online pricing.
                                Prices and availability of products and services are subject to change without notice. Errors
                                will be corrected where discovered, and Lowe's reserves the right to revoke any stated offer
                                and to correct any errors, inaccuracies or omissions including after an order has been submitted.</p>
                        </div>
                        <div class="user-nav pull-right">
                            <div class="account-nav hide-print">
                                <a href="#" class="js-insert-logon-frame js-guest guest" data-toggle="modal" data-target="#signinModal">
                                    <div class="account-info">
                                        <div class="pull-left">
                                            <i class="icon-account" aria-hidden="true"></i>
                                        </div>
                                        <div class="pull-right mylowes-info">
                                            <div class="mylowes-text-block">
                                                <span class="display-block primary-text">
                                                    <span class="my-text">my</span>lowes
                                                </span>
                                                <span>Sign in</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="js-account-info account-info registered display-none">
                                    <a href="https://www.lowes.com/en_us/mylowes.html" class="js-navigate-to-mylowes registered">
                                        <div class="account pull-left">
                                            <div class="pull-left">
                                                <i class="icon-account" aria-hidden="true"></i>
                                            </div>
                                            <div class="pull-right mylowes-info">
                                                <div class="mylowes-text-block">
                                                    <span class="display-block primary-text">
                                                        <span class="my-text">my</span>lowes
                                                    </span>
                                                    <span class="greeting">Hi,</span>&nbsp;
                                                    <span class="js-account-first-name myLowesFirstName"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="js-registered" data-linkid="sign_out">
                                        <div class="signout-mylowes pull-left">
                                            <span class="js-signout">Sign Out</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div id="signinModal" class="account-drawer modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class=" clearfix" data-drawer="account">
                                                <div class="grid-55 tablet-grid-55">
                                                    <div class="login">
                                                        <span class="h1 position-centered mylowes-tm v-spacing-large">my
                                                            <span class="strong">lowes</span>
                                                        </span>
                                                        <div class="accessmylowes">
                                                            <div class="signin-container">
                                                                <div class="js-accessmylowes account-carousel" data-message="<p>Thanks!</p>
                                                                    <p>Check your email for a link to reset your password. <strong> The link will expire in 30 minutes. </strong> If you don't see the email, be sure to check your spam and junk mail folders.</p>
                                                                    <div class="grid-100 tablet-grid-100 mobile-grid-100">
                                                                        <div class="js-account-login">
                                                                            <span id="ada-login-form-labelledby" class="ada screen-reader-only">Login</span>
                                                                            <form id="login" class="js-login-form v-spacing-small" aria-labelledby="ada-login-form" role="form" autocomplete="on" method="post"
                                                                                novalidate="novalidate">
                                                                                <div class="form-group">
                                                                                    <input aria-labelledby="ada-login-email-labelledby" name="email" type="email" class="form-control" id="logon-email-input"
                                                                                        placeholder="Email Address" autocompletetype="email">
                                                                                    <span class="inline-help" hidden aria-hidden="true">yourname@email.com</span>
                                                                                    <span id="ada-login-email-labelledby" class="ada screen-reader-only" hidden aria-hidden="true">Please Enter Your Email Address</span>
                                                                                </div>
                                                                                <div class="form-group v-spacing-large">
                                                                                    <input aria-labelledby="ada-login-password-labelledby" type="password" name="password-input" class="form-control" id="logon-password-input"
                                                                                        placeholder="Password">
                                                                                    <span hidden class="inline-help" aria-hidden="true">Enter Your Password</span>
                                                                                    <span id="ada-login-password-labelledby" class="ada screen-reader-only" hidden aria-hidden="true">Enter Your Password</span>
                                                                                </div>
                                                                                <button class="btn btn-primary js-sign-in btn-block" data-linkid="sign_in" type="submit">Sign In</button>
                                                                            </form>
                                                                            <div class="align-center">
                                                                                <a href="#" class="js-goto-forgot link-small">Forgot Your Password?</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <script type="text/mustache" id="AccountLoginView" hidden aria-hidden="true">

                                                                <div class="grid-100 tablet-grid-100 mobile-grid-100">
                                                                    <div class="js-account-login">
                                                                        <span id="ada-login-form-labelledby" class="ada screen-reader-only">Login</span>
                                                                        <form id="login" class="js-login-form v-spacing-small" aria-labelledby="ada-login-form" role="form" autocomplete="on" method="post" novalidate="novalidate">
                                                                            <div class="form-group">
                                                                                <input aria-labelledby="ada-login-email-labelledby" name="email" type="email" class="form-control" id="logon-email-input" placeholder="Email Address" autocompletetype="email">
                                                                                <span class="inline-help" hidden aria-hidden="true">yourname@email.com</span>
                                                                                <span id="ada-login-email-labelledby" class="ada screen-reader-only" hidden aria-hidden="true">Please Enter Your Email Address</span>
                                                                            </div>
                                                                            <div class="form-group v-spacing-large">
                                                                                <input aria-labelledby="ada-login-password-labelledby" type="password" name="password-input" class="form-control" id="logon-password-input" placeholder="Password">
                                                                                <span hidden class="inline-help" aria-hidden="true">Enter Your Password</span>
                                                                                <span id="ada-login-password-labelledby" class="ada screen-reader-only" hidden aria-hidden="true">Enter Your Password</span>
                                                                            </div>
                                                                            <button class="btn btn-primary js-sign-in btn-block" data-linkid="sign_in" type="submit">Sign In</button>
                                                                        </form>
                                                                        <div class="align-center">
                                                                            <a href="#" class="js-goto-forgot link-small">Forgot Your Password?</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </script>
                                                            <script type="text/mustache" id="ForgotYourPasswordView" hidden aria-hidden="true">
                                                                <div class="reset-password js-reset-password-slide">
                                                                    <span id="ada-forgot-form-labelledby" class="ada screen-reader-only">Forgot Your Password</span>
                                                                    <div class="grid-100 tablet-grid-100 mobile-grid-100">
                                                                        <p class="small-type v-spacing-medium">Please enter the information associated with your account.</p>
                                                                    </div>
                                                                    <form id="resetPassword" aria-labelledby="ada-forgot-form" role="form" autocomplete="off">
                                                                        <div class="grid-50 tablet-grid-50 mobile-grid-50">
                                                                            <div class="form-group first-name">
                                                                                <input aria-labelledby="ada-forgot-firstname-labelledby" name="firstname" type="text" class="form-control" id="firstname-input" placeholder="First Name" autocompletetype="firstname" value="{{firstName}}"></input>
                                                                                <span hidden class="inline-help" aria-hidden="true">Enter Your First Name. I.E Example: John</span>
                                                                                <span id="ada-forgot-firstname-labelledby" class="ada screen-reader-only" hidden aria-hidden="true">Please Enter Your First Name</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid-50 tablet-grid-50 mobile-grid-50">
                                                                            <div class="form-group last-name">
                                                                                <input aria-labelledby="ada-forgot-lastname-labelledby" name="lastname" type="text" class="form-control" id="lastname-input" placeholder="Last Name" autocompletetype="lastname" value="{{lastName}}">
                                                                                <span hidden class="inline-help" aria-hidden="true">Enter Your Last Name. I.E Example: Doe</span>
                                                                                <span id="ada-forgot-lastname-labelledby" class="ada screen-reader-only" hidden aria-hidden="true">Please Enter Your Last Name</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid-100 tablet-grid-100 mobile-grid-100">
                                                                            <div class="form-group clearfix">
                                                                                <input aria-labelledby="ada-forgot-email-labelledby" name="email" type="email" class="form-control" id="reset-email-input" placeholder="Enter Email Address" autocompletetype="email" value="{{emailAddress}}">
                                                                                <span hidden class="inline-help" aria-hidden="true">yourname@email.com</span>
                                                                                <span id="ada-forgot-email-labelledby" class="ada screen-reader-only" hidden aria-hidden="true">Please Enter Your Email Address</span>
                                                                            </div>
                                                                            <button role="button" type="submit" class="btn btn-primary btn-block js-password-reset">Submit</button>
                                                                        </div>
                                                                    </form>
                                                                    <div class="grid-100 tablet-grid-100 mobile-grid-100">
                                                                        <div class="trench clean align-center">
                                                                            <a href="#" class="js-goto-login link-small">Cancel</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </script>
                                                            <script type="text/mustache" id="AccessMyLowesServiceView" hidden aria-hidden="true">
                                                                <div class="grid-100 tablet-grid-100 mobile-grid-100">
                                                                    <div class="password-reset js-password-reset-slide service-view">
                                                                        <div class="js-accessmylowes-service-view v-spacing-medium"></div>
                                                                        <div class="align-center">
                                                                            {{#if success}}
                                                                            <button tabindex="-1" class="btn btn-primary btn-block js-goto-login">Ok</button> {{else}}
                                                                            <button tabindex="-1" class="btn btn-primary btn-block js-goto-forgot" data-restore="true">Ok</button> {{/if}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="joinmylowes">
                                                    <div class="grid-45 tablet-grid-45">
                                                        <!-- Join mylowes authorable section -->
                                                        <div class="join-mylowes">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <i aria-hidden="true" class="icon-close"></i>
                                                            </button>
                                                            <h3>Join my
                                                                <span class="mylowes-tm">lowes</span>
                                                            </h3>
                                                            <div class="trench no-background no-border v-spacing-jumbo">
                                                                <ul tabindex="0" role="list" class="list icon darkerGrey">
                                                                    <li role="listitem">
                                                                        <i class="icon-todo" aria-hidden="true"></i>Free Standard Parcel Shipping With MyLowe’s.
                                                                    </li>
                                                                    <li role="listitem">
                                                                        <i class="icon-todo" aria-hidden="true"></i>Track your in-store purchases.
                                                                    </li>
                                                                    <li role="listitem">
                                                                        <i class="icon-todo" aria-hidden="true"></i>Make returns without a receipt.
                                                                    </li>
                                                                    <li role="listitem">
                                                                        <i class="icon-todo" aria-hidden="true"></i>Access your saved products.
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- Authorable Join now links -->
                                                            <div class="bottom-links align-center">
                                                                <a href="https://www.lowes.com/mylowes/register" data-window="external" data-linkid="join_now" class="btn btn-secondary btn-block v-spacing-small">JOIN NOW</a>
                                                                <a href="https://www.lowes.com/webapp/wcs/stores/servlet/UserRegistrationForm?langId=-1&storeId=10151&catalogId=10051&new=Y&cm_sp=NoDivision-_-MyLowesLP|A0-_-Corp|MyLowes_SignUp_Button"
                                                                    data-window="external" data-linkid="need_to_register_your_card">Need to register your card?</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="par parsys">
                                                <div class="parbase section bannerreference">
                                                    <div class="banner_reference">
                                                        <div style="display:inline;" class="cq-dd-paragraph">
                                                            <link rel="stylesheet" href="https://www.lowes.com/etc/clientlibs/lowes-mobile-first/components/content/scaledbanner.min.css"
                                                                type="text/css">
                                                            <div class="v-spacing-large scaled_banner_container">
                                                                <a href="https://www.lowes.com/cd_Lowes+Consumer+Credit+Center_739786611_?storeId=10151&langId=-1&catalogId=10051" target="_top">
                                                                    <div class="s7_banner" data-url=#>
                                                                        <img class="content scaled_banner_background_image" alt="Looking to pay your Lowe's Consumer Credit Card?" src="//lda.lowes.com/is/image/Lowes/sign-in-banner?scl=1&201605121648">
                                                                    </div>
                                                                </a>
                                                                <div class="s7_banner copyTA">
                                                                    <div class="banner_text scaled_hidden_text">
                                                                    </div>
                                                                    <div class="trench no-background no-border align-left get_details">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-status hide-print">
                                <a href="/cart" class="display-block" title="Cart Count" data-linkid="cart-count" aria-describedby="ada-cart-count-describedby">
                                    <i class="icon-cart" aria-hidden="true"></i>
                                    <span class="cart-count" aria-hidden="true">0</span>
                                    <span id="ada-cart-count-describedby" class="ada screen-reader-only">Cart with
                                        <span class="cart-count">0</span> items</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navigation Bar -->
            <div class="navigation-bar js-navigation-bar hide-print">
                <div class="grid-container">
                    <div class="parbase mastheadcategory">
                        <nav class="grid-25 tablet-grid-30" role="navigation" aria-label="Departments Navigation">
                            <ul class="lowes-menu clearfix" role="menubar" title="Departments" aria-controls="st1">
                                <h2 class="ada screen-reader-only">Departments Navigation</h2>
                                <li class="menu-icon js-departments-nav-open" role="menuitem" tabindex="0" aria-haspopup="true">
                                    <i class="icon-mobile-menu" aria-hidden="true"></i>
                                    <a class="nav-heading" aria-hidden="true">Departments</a>
                                    <i class="icon-arrow-down" aria-hidden="true"></i>
                                    <ul class="cat-menu js-departments-menu" role="menu">
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Holiday-decorations" title="Holiday Decorations"
                                                data-linkid="holiday_decorations">Holiday Decorations</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Appliances" title="Appliances" data-linkid="appliances">Appliances</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Bathroom" title="Bathroom" data-linkid="bathroom">Bathroom</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Building-supplies" title="Building Supplies" data-linkid="building_supplies">Building Supplies</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/pl/Windows-doors/4294937086" title="Doors & Windows"
                                                data-linkid="doors___windows">Doors & Windows</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Electrical" title="Electrical" data-linkid="electrical">Electrical</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Flooring" title="Flooring" data-linkid="flooring">Flooring</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Hardware" title="Hardware" data-linkid="hardware">Hardware</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Heating-cooling" title="Heating & Cooling" data-linkid="heating___cooling">Heating & Cooling</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/pl/Home-decor/4294935484" title="Home Decor & Furniture"
                                                data-linkid="home_decor___furniture">Home Decor & Furniture</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Kitchen" title="Kitchen" data-linkid="kitchen">Kitchen</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/l/lawn-garden.html" title="Lawn & Garden" data-linkid="lawn___garden">Lawn & Garden</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/pl/Lighting-ceiling-fans/4294935637" title="Lighting & Ceiling Fans"
                                                data-linkid="lighting___ceiling_fans">Lighting & Ceiling Fans</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/pl/Moulding-millwork/4294518252" title="Moulding & Trim"
                                                data-linkid="moulding___trim">Moulding & Trim</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/l/outdoor-living.html" title="Outdoor Living" data-linkid="outdoor_living">Outdoor Living</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Paint" title="Paint" data-linkid="paint">Paint</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/c/Plumbing" title="Plumbing" data-linkid="plumbing">Plumbing</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/l/smart-home.html" title="Smart Home & Security" data-linkid="smart_home___security">Smart Home & Security</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/pl/Storage-organization/4294936624" title="Storage & Organization"
                                                data-linkid="storage___organization">Storage & Organization</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/pl/Tools/4294936478" title="Tools" data-linkid="tools">Tools</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/l/lowes-project-services.html" title="Installation Services"
                                                data-linkid="installation_services">Installation Services</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/l/gift-cards.html" title="Gift Cards" data-linkid="gift_cards">Gift Cards</a>
                                        </li>
                                        <li role="menuitemradio" tabindex="-1" aria-controls="st1" role="menuitem">
                                            <a href="https://www.lowes.com/All-Departments/site-directory" title="Shop All Departments"
                                                data-linkid="shop_all_departments">Shop All Departments</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="grid-75 tablet-grid-70">
                        <div itemscope itemtype="https://schema.org/WebSite" class="lowes-search-wrap js-predictive-wrap" data-tablet="true">
                            <meta itemprop="url" content="https://www.lowes.com/">
                            <div class="parbase searchbar">
                                <form itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction" name="frmQuickSearch" action="/search"
                                    method="get" id="frmQuickSearch" class="js-predictive-form">
                                    <meta itemprop="target" content="https://www.lowes.com/search?searchTerm={searchTerm}">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input aria-describedby="ada-query-input-describedby" role="combobox" aria-owns="predictive-terms-list" aria-autocomplete="list"
                                                aria-expanded="false" aria-activedescendant itemprop="query-input" type="text"
                                                name="searchTerm" id="search-query" placeholder="Search for it here..." class="form-control search-input js-predictive-input js-masthead-reset-search-form-input"
                                                data-suggestions-text="Product Suggestions" data-max-suggestions="3" data-max-terms="8"
                                                data-predictive-search-off="FALSE" autocomplete="off">
                                            <span class="input-group-btn">
                                                <button aria-label="Reset" class="btn btn-reset js-masthead-reset-search-form-button display-none" type="reset" data-linkid="reset_search_bar_button">
                                                    <i class="icon-close-filled darkMidGrey" role="button" tabindex="0"></i>
                                                </button>
                                                <button aria-label="Search" class="btn btn-search" type="submit" data-linkid="search_bar_button">
                                                    <i class="icon-search" role="button" tabindex="0"></i>
                                                </button>
                                            </span>
                                            <span id="ada-query-input-describedby" class="ada screen-reader-only">Please Enter Your Search Term Here</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Zip In -->
            <div class="js-view-zip-prompt"></div>
        </header>
        <script type="text/mustache" id="ZipPromptView" hidden aria-hidden="true">
            <div id="zipContainer" class="zip-in-modal">
                <div class="modal fade" id="zipInModal" tabindex="-1" role="dialog" aria-labelledby="zip-in-modal" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-body modal-body--zip-in-modal">
                                <button type="button" class="close js-zip-in-modal-close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="icon-close"></i></button>
                                <div class="grid-100">
                                    <div class="media">
                                        <div class="media-left media-left--zip-in-modal align-center">
                                            <img src="//lda.lowes.com/is/image/Lowes/zip-in-modal-lowes-associate">
                                        </div>
                                        <div class="media-body">
                                            <h2 class="royalBlue v-spacing-small text-uppercase">Get Pricing &amp; Availability</h2>
                                            <h6 class="darkGrey v-spacing-jumbo">We use your ZIP code to give you up-to-the minute pricing and availability in your area.</h6>
                                            <form action="#" id="zipEntry">
                                                <div class="form-group">
                                                    <div class="input-btn-group">
                                                        <input name="zip" class="js-zip-entry-input form-control" id="zipInput" placeholder="ZIP Code" autocompletetype="zipcode" maxlength="5">
                                                        <input class="btn btn-primary js-zip-entry-submit" data-linkid="get-pricing-and-availability-zip-in-modal-submit" type="submit" value="Submit" />
                                                    </div>
                                                    <span class="inline-help">Example: 28117</span>
                                                    <span id="ada-zipcode-describedby" class="ada screen-reader-only">Please enter your zip code.</span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>



    <div id="mainContent" tabindex="-1" class="mylowes grid-container v-spacing-extra-large">
        {{>storeLocaterModal}}
        <section class="js-maincontent grid-100 tablet-grid-100 grid-parent"></section>
    </div>




    <div class="footer">
        <footer>
            <div class="hide-print grid-container sub-footer">
                <div class="social-menu grid-33 tablet-grid-33 mobile-grid-100">
                    <div class="parbase socialmediabar">
                        <h3 tabindex="0">Connect With Us</h3>
                        <div class="media">
                            <ul>
                                <li>
                                    <a target="_blank" href="http://www.facebook.com/lowes" title="Facebook">
                                        <span class="aria-icon">
                                            <i class="icon-facebook brand-color icon-2x" aria-hidden="true"></i>
                                            <span>Facebook</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://twitter.com/lowes" title="Twitter">
                                        <span class="aria-icon">
                                            <i class="icon-twitter brand-color icon-2x" aria-hidden="true"></i>
                                            <span>Twitter</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://pinterest.com/follow/lowes" title="Pinterest">
                                        <span class="aria-icon">
                                            <i class="icon-pinterest brand-color icon-2x" aria-hidden="true"></i>
                                            <span>Pinterest</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://instagram.com/loweshomeimprovement" title="Instagram">
                                        <span class="aria-icon">
                                            <i class="icon-instagram brand-color icon-2x" aria-hidden="true"></i>
                                            <span>Instagram</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://vine.co/Lowes" title="Vine">
                                        <span class="aria-icon">
                                            <i class="icon-vine brand-color icon-2x" aria-hidden="true"></i>
                                            <span>Vine</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.youtube.com/user/Lowes" title="Youtube">
                                        <span class="aria-icon">
                                            <i class="icon-youtube brand-color icon-2x" aria-hidden="true"></i>
                                            <span>Youtube</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="email-signup grid-33 tablet-grid-33 mobile-grid-100">
                    <div class="emailsignupmechanism">
                        <h3 tabindex="0">Sign Up for Email</h3>
                        <div class="media">
                            <div class="media-left">
                                <i aria-hidden="true" class="icon-email icon-2x lowesBlue"></i>
                            </div>
                            <div class="media-body">
                                <p tabindex="0">Be the first to know: Sign up for exclusive offers, tips and more.</p>
                                <a href="#" data-toggle="modal" data-target="#emailSignUpDialog" title="Sign Up" data-linkid="sign_up" class="js-emailSignUpModal chevron right">Sign Up</a>
                            </div>
                        </div>
                        <div id="emailSignUpDialog" class="emailsignup-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="emailSignUpDialog"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="clearfix">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i aria-hidden="true" class="icon-close"></i>
                                            </button>
                                            <div class="par parsys">
                                                <div class="title section">
                                                    <!-- Begin SEO Title -->
                                                    <h2 class="lowes-blue h1 align-center grid-100 mobile-grid-100 tablet-grid-100">
                                                        SIGN UP & SAVE
                                                    </h2>
                                                    <!-- End SEO Title -->
                                                </div>
                                                <div class="parbase twocolumn section">
                                                    <div class="grid-100 grid-parent">
                                                        <div class="grid-50 grid-parent grid-first">
                                                            <div class="grid-100">
                                                                <div class="parsys grid-par-left">
                                                                    <div class="parbase section bannerreference">
                                                                        <div class="banner_reference">
                                                                            <div style="display:inline;" class="cq-dd-paragraph">
                                                                                <div class="v-spacing-large scaled_banner_container">
                                                                                    <div class="s7_banner" data-url=#>
                                                                                        <img class="content scaled_banner_background_image" alt="Email sign up" src="https://lda.lowes.com/is/image/Lowes/sign-up-&-save_LEFT_v2?scl=1&201606031419">
                                                                                    </div>
                                                                                    <div class="s7_banner copyTA">
                                                                                        <div class="banner_text scaled_hidden_text">
                                                                                        </div>
                                                                                        <div class="trench no-background no-border align-left get_details">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="grid-50 grid-parent">
                                                            <div class="grid-100">
                                                                <div class="parsys grid-par-right">
                                                                    <div class="parbase article section">
                                                                        <div data-pagination-init="article">
                                                                            <div style='' class='article cq-article-email-includes'>
                                                                                <h3>Email Includes:</h3>
                                                                                <ul>
                                                                                    <li>your weekly ad</li>
                                                                                    <li>exclusive offers &amp; promotions</li>
                                                                                    <li>home improvement ideas &amp; tips</li>
                                                                                    <li>sneak peek of upcoming events</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="emailsignup">
                                                <div class="v-spacing-medium clearfix"></div>
                                                <div class="js-subscription-component subscription-component grid-100 clearfix">
                                                    <form class="js-subscription-form" role="form" autocomplete="on">
                                                        <div class="description v-spacing-medium grid-100 align-center">
                                                            <p>Enter your email and ZIP to receive
                                                                <b>Exclusive Offers&nbsp;</b>in your inbox.</p>
                                                        </div>
                                                        <div class="grid-100 tablet-grid-100 mobile-grid-100">
                                                            <div class="form-group">
                                                                <input name="email" type="email" class="form-control js-email-input" id="email-input" placeholder="Email" autocompletetype="email">
                                                                <span class="inline-help">yourname@email.com</span>
                                                            </div>
                                                        </div>
                                                        <div class="grid-65 tablet-grid-60 mobile-grid-55">
                                                            <div class="form-group">
                                                                <input name="zip" class="form-control js-zipcode-input" id="zipcode-input" maxlength="5" placeholder="Zip Code" autocompletetype="zipcode">
                                                                <span class="inline-help">Example: 28117</span>
                                                            </div>
                                                        </div>
                                                        <div class="grid-35 tablet-grid-40 mobile-grid-45">
                                                            <button role="button" type="submit" data-linkid="save_today" data-selectedSubscription="opt_promo_email" class="js-subscribe btn btn-primary btn-block btn-lg">Save Today</button>
                                                        </div>
                                                    </form>
                                                    <script type="text/mustache" id="SubscriptionsServiceResponseView">
                                                        {{#unless error}}
                                                        <hr class="background-grey v-spacing-large">{{/unless}}
                                                        <div class="trench trench-large grid-align-center clean">
                                                            <div class="grid-55 tablet-grid-55 grid-align-center alert alert-{{#if error}}error{{else}}success{{/if}}">
                                                                <div class="media grid-100 tablet-grid-100 ">
                                                                    <div class="media-left">
                                                                        <i aria-hidden="true" class="{{#if error}}icon-error-outline red{{else}}icon-check-filled green{{/if}}"></i>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h4>{{#if error}}Looks like we're having a bit of trouble.{{else}}Thanks for Signing Up for Lowe's Email{{/if}}</h4>
                                                                        <p>{{#if error}}Stop by a little later and we'll try this again.{{else}}You'll be the first to know about special offers and promotions.{{/if}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="parsys par2">
                                                <div class="parbase article section">
                                                    <div data-pagination-init="article">
                                                        <div style='' class='article cq-article-email-disclaimer'>
                                                            <p>
                                                                Lowe's Companies, Inc. 1000 Lowe's Blvd. Mooresville, NC 28117.
                                                                <a
                                                                    href="/l/privacy-and-security-statement.html" class="js-open-in-new-window">View our Privacy and Security Statement</a>. © 2016 Lowe's.
                                                                    Lowe's, and Gable Mansard Design are registered trademarks
                                                                    of LF, LLC.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="download-our-apps grid-33 tablet-grid-33 mobile-grid-100">
                    <div class="downloadourapps">
                        <h3 tabindex="0">Download Our Apps</h3>
                        <div class="media">
                            <div class="media-left">
                                <i aria-hidden="true" class="icon-mobile icon-2x lowesBlue"></i>
                            </div>
                            <div class="media-body">
                                <p tabindex="0">Learn more and download our FREE apps.</p>
                                <a href="/l/download-apps.html" data-linkid="download-our-apps" title="Discover" class="chevron right">Discover</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hide-print pagoda">
                <img src="https://www.lowescdn.com/images/ui/pagoda.svg" class="pagoda-logo">
            </div>
            <div class="ft-wrap">
                <div class="hide-print grid-container">
                    <div class="parbase footerservicelist">
                        <div class="services-menu">
                            <ul class="grid-100 tablet-grid-100 grid-parent">
                                <li class="grid-16 tablet-grid-16 mobile-grid-33">
                                    <a href="https://www.lowes.com/l/savings.html" target="_self" title="Shop Savings<br>& Weekly Ad" data-linkid="shop_savings_br___weekly_ad">
                                        <i aria-hidden="true" class="icon-book icon-2-5x"></i>
                                        <span>Shop Savings
                                            <br>& Weekly Ad</span>
                                    </a>
                                </li>
                                <li class="grid-16 tablet-grid-16 mobile-grid-33">
                                    <a href="https://www.lowes.com/l/Credit.html" target="_self" title="Lowe's Credit Card" data-linkid="lowe_s_credit_card">
                                        <i aria-hidden="true" class="icon-credit-card icon-2-5x"></i>
                                        <span>Lowe's Credit Card</span>
                                    </a>
                                </li>
                                <li class="grid-16 tablet-grid-16 mobile-grid-33">
                                    <a href="https://www.lowes.com/how-to-library" target="_self" title="Ideas & How-Tos" data-linkid="ideas___how-tos">
                                        <i aria-hidden="true" class="icon-ideas icon-2-5x"></i>
                                        <span>Ideas & How-Tos</span>
                                    </a>
                                </li>
                                <div class="mobile-clear"></div>
                                <li class="grid-16 tablet-grid-16 mobile-grid-33">
                                    <a href="https://www.lowes.com/l/lowes-project-services.html" target="_self" title="Installation Services" data-linkid="installation_services">
                                        <i aria-hidden="true" class="icon-tools icon-2-5x"></i>
                                        <span>Installation Services</span>
                                    </a>
                                </li>
                                <li class="grid-16 tablet-grid-16 mobile-grid-33">
                                    <a href="https://www.lowes.com/l/rebate-center.html" target="_self" title="Rebates" data-linkid="rebates">
                                        <i aria-hidden="true" class="icon-tag icon-2-5x"></i>
                                        <span>Rebates</span>
                                    </a>
                                </li>
                                <li class="grid-16 tablet-grid-16 mobile-grid-33">
                                    <a href="https://www.lowesforpros.com/" target="_blank" title="Lowe's For Pros" data-linkid="lowe_s_for_pros">
                                        <i aria-hidden="true" class="icon-lowes icon-2-5x"></i>
                                        <span>Lowe's For Pros</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="ft-nav grid-container v-spacing-large" aria-label="Footer Navigation">
                    <h2 class="ada screen-reader-only">Footer Navigation</h2>
                    <div class="ft-help grid-25 tablet-grid-25 mobile-grid-100">
                        <div class="footercontact parbase">
                            <div class="v-spacing-jumbo">
                                <h3 class="white">Need Help?</h3>
                                <p class="white">Call
                                    <a href="tel:18004456937">1-800-445-6937</a>
                                </p>
                            </div>
                            <div class="v-spacing-jumbo">
                                <h3 class="white">Products & Sales</h3>
                                <p class="white">Call
                                    <a href="tel:18774656937">1-877-GO-LOWES</a>
                                </p>
                            </div>
                            <div class="hide-print">
                                <h3 class="white">Check Order Status</h3>
                                <p class="white">Click
                                    <a href="https://www.lowes.com/webapp/wcs/stores/servlet/LowesFindOrders?catalogId=10051&langId=-1&storeId=10151&krypto=61jbw1YOwhftEKOwVKUdOq17w8TgWRf1t5Xc6q0MfJzG1juWP89h9qHBv4urSazNB%2B208q6bdhcnnmAXj5D1MQ%3D%3D">
                                        <u>here</u>
                                    </a> to check Order Status.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" ft-customer-service grid-25 tablet-grid-25 mobile-grid-100 hide-print ">
                        <div class="titledlist titledlist_0 parbase">
                            <h3 tabindex="0">About Lowe's</h3>
                            <ul>
                                <li>
                                    <a href="https://careers.lowes.com/" target="_blank" data-linkid="careers">Careers
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/cd_About+Lowes+Landing+page_567636953_?storeId=10151&langId=-1&catalogId=10051" target="_self"
                                        data-linkid="company_overview">Company Overview
                                    </a>
                                </li>
                                <li>
                                    <a href="http://phx.corporate-ir.net/phoenix.zhtml?c=95223&p=irol-IRHome" target="_blank" data-linkid="investor_relations">Investor Relations
                                    </a>
                                </li>
                                <li>
                                    <a href="https://newsroom.lowes.com/" target="_blank" data-linkid="newsroom">Newsroom
                                    </a>
                                </li>
                                <li>
                                    <a href="https://newsroom.lowes.com/csr-reports/" target="_blank" data-linkid="social_responsibility">Social Responsibility
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/cd_Lowes+Policy+on+Sustainability_1286385507_?storeId=10151&langId=-1&catalogId=10051" target="_self"
                                        data-linkid="sustainability_policy">Sustainability Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/cd_Legal+Center+Introduction_538309560_" target="_self" data-linkid="ethics___compliance">Ethics & Compliance
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/l/supplier-diversity-program.html" target="_self" data-linkid="lowe_s_suppliers">Lowe's Suppliers
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/All-Departments/site-directory" target="_self" data-linkid="site_directory">Site Directory
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/l/lowes-affiliate-program.html" target="_self" data-linkid="affiliate_program">Affiliate Program
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" ft-stores grid-25 tablet-grid-25 mobile-grid-100 hide-print ">
                        <div class="titledlist parbase titledlist_1">
                            <h3 tabindex="0">Stores</h3>
                            <ul>
                                <li>
                                    <a href="/store/" target="_self" data-linkid="find_a_store">Find a Store
                                    </a>
                                </li>
                                <li>
                                    <a href="/l/lowes-project-services.html" target="_self" data-linkid="installation_services">Installation Services
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/l/in-store-services.html" target="_self" data-linkid="in-store_services">In-Store Services
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowesforpros.com/" target="_blank" data-linkid="lowe_s_for_pros">Lowe's For Pros
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.ca/" target="_blank" data-linkid="lowe_s_canada">Lowe's Canada
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.themine.com/" target="_blank" data-linkid="the_mine">The Mine
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.osh.com/" target="_blank" data-linkid="orchard_supply_hardware">Orchard Supply Hardware
                                    </a>
                                </li>
                                <li>
                                    <a href="https://blinds.lowes.com/" target="_blank" data-linkid="custom_blinds_and_shades">Custom Blinds and Shades
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.resolvebylowes.com/" target="_blank" data-linkid="resolve">Resolve
                                    </a>
                                </li>
                                <li>
                                    <a href="https://porch.com/" target="_blank" data-linkid="porch">Porch
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" ft-about grid-25 tablet-grid-25 mobile-grid-100 hide-print ">
                        <div class="titledlist parbase titledlist_2">
                            <h3 tabindex="0">Customer Service</h3>
                            <ul>
                                <li>
                                    <a href="https://www.lowes.com/l/contact-us.html" target="_self" data-linkid="contact_us">Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/l/Credit.html" target="_self" data-linkid="lowe_s_credit_cards">Lowe's Credit Cards
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/l/gift-cards.html" target="_self" data-linkid="gift_cards">Gift Cards
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/l/rebate-center.html" target="_self" data-linkid="rebates">Rebates
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/cd_Shipping+and+Delivery_378641591_?storeId=10151&langId=-1&catalogId=10051#ReturnsExchanges"
                                        target="_self" data-linkid="returns___exchanges">Returns & Exchanges
                                    </a>
                                </li>
                                <li>
                                    <a href="/cd_Shipping+and+Delivery_378641591_?storeId=10151&langId=-1&catalogId=10051" target="_self" data-linkid="shipping___delivery">Shipping & Delivery
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/cd_Lowe%27s+Special+Order+Sales+Basics_564859853_?storeId=10151&langId=-1&catalogId=10051"
                                        target="_self" data-linkid="special_orders">Special Orders
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/cd_Recalls+and+Product+Safety+News_169016347_?storeId=10151&langId=-1&catalogId=10051" target="_self"
                                        data-linkid="recalls___product_safety">Recalls & Product Safety
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/l/lowes-protection-plan.html" target="_self" data-linkid="protection_plans">Protection Plans
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.lowes.com/mylowes/login?context=military" target="_self" data-linkid="military_discount">Military Discount
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="ft-copyright-terms grid-container">
                    <div class="parbase copyright">
                        <div class="grid-100 tablet-grid-100 mobile-grid-100">
                            <p class="white align-center v-spacing-large small-type">
                                <span class="js-the-game-is-up">&copy;</span> 2017 Lowe's. All rights reserved. Lowe's and the gable design are registered
                                trademarks of LF, LLC.</p>
                        </div>
                        <div class="hide-print grid-100 tablet-grid-100 mobile-grid-100">
                            <div class="grid-container grid-parent">
                                <div class="grid-33 tablet-grid-33 mobile-grid-100 align-center v-spacing-medium small-type">
                                    <a class="copyright-link" href="https://www.lowes.com/cd_Terms+and+Conditions+of+Use_360300527_" target="_self">Terms & Conditions of Use
                                    </a>
                                </div>
                                <div class="grid-33 tablet-grid-33 mobile-grid-100 align-center v-spacing-medium small-type">
                                    <a class="copyright-link" href="https://www.lowes.com/l/privacy-and-security-statement.html" target="_self">Privacy Statement
                                    </a>
                                </div>
                                <div class="grid-33 tablet-grid-33 mobile-grid-100 align-center v-spacing-medium small-type">
                                    <a class="copyright-link" href="https://www.lowes.com/l/privacy-and-security-statement.html#noticetocalifornia" target="_self">Your California Privacy Rights
                                    </a>
                                </div>
                                <div class="grid-33 tablet-grid-33 mobile-grid-100 align-center v-spacing-medium small-type">
                                    <a class="copyright-link" href="http://www.lowes.com/en_us/l/privacy-and-security-statement.html#interestadvertising" target="_self">Interest-Based Advertising
                                    </a>
                                </div>
                                <div class="mobile-grid-100 desktop-switch hide-desktop hide-tablet align-center small-type">
                                    <a href="https://www.lowes.com/?stop_mobi=yes" title="View Desktop Site" data-linkid="view-desktop-site">Desktop Site</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://www.lowescdn.com/scaffold/1.3.0/js/scaffold.min.js"></script>
    <script src="https://www.lowescdn.com/conduit/1.3.3/conduit-ui.min.js"></script>
    <script src="https://www.lowes.com/etc/clientlibs/lowes-mobile-first/export-commons.min.js"></script>
    <script src="https://www.lowes.com/etc/clientlibs/lowes-mobile-first/desktop-commons.js"></script>
    <script src="https://www.lowes.com/content/lowes/en_us/mylowes.configuration.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/libraries.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/commons/js/js-includes.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/commons.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/mylowes.min.js"></script>
    <script src="https://www.lowes.com/content/lowes/en_us/mylowes.components.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/components/mylowes/accountsummarywelcome.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/mylowes-purchases.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/components/mylowes/recentpurchases.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/components/mylowes/listssummary.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/components/mylowes/reminderssummary.min.js"></script>
    <script type="text/javascript" src="https://www.lowes.com/etc/clientlibs/lowes/components/mylowes/accountsummary.min.js"></script>
    <div class="servicecomponents cloudservices">
        <div class="cloudservice testandtarget"></div>
        <div class="sitecatalyst cloudservice">
            <span data-tracking="{event:'pageView', values:{}, componentPath:'foundation/components/page'}"></span>
        </div>
    </div>
    <script type="text/javascript">
        if (typeof _satellite === "object") _satellite.pageBottom();

        $("#find_store").on('click', function () {
            $("#store-locator-modal").modal('show');
        });
        $('.store-locator-select').on('click', function (e) {
            //e.preventDefault();

            var storeNumber = $(this).attr('data-store-number');
            var storeName = $(this).parents('li').find('a').attr('title');
            var url = '/store/' + storeNumber + '/' + storeName;
            //console.log(url);
            $.ajax({
                method: 'GET',
                url: url,
                //data: {storeNumber: storeNumber, storeName: storeName},
                success: function (resp) {
                    $('#store-locator-modal').modal('hide');
                    //console.log(resp);
                    $('.js-store-name').html(storeName);
                    //console.log("maincontent ==== ", $(".js-maincontent"));
                    $(".js-maincontent").html(resp);
                },
                error: function (resp) {
                    console.log(resp);
                }
            });
            //e.preventDefault();
            //if($('.shop-a-store.media').length) $('.shop-a-store.media').remove();
            //$('.storeindicator').append(storeNumber+storeName);
        });
    </script>

</body>

</html>